.footer {
    background-color: var(--petsolive-light);
    padding: 40px 0;
    color: var(--petsolive-dark);
    border-top: 5px solid var(--petsolive-primary); /* Sharp line above the footer */
}

    .footer h5 {
        color: var(--petsolive-primary);
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .footer p {
        font-size: 0.9rem;
        color: var(--petsolive-primary);
    }

    .footer a {
        color: var(--petsolive-primary);
        text-decoration: none;
        transition: color 0.3s ease;
    }

        .footer a:hover {
            color: var(--petsolive-primary);
            text-decoration: underline;
        }

    .footer .social-links a {
        font-size: 1.5rem;
        transition: color 0.3s ease;
    }

        .footer .social-links a:hover {
            color: var(--petsolive-primary);
        }

.footer-bottom {
    background-color: var(--petsolive-primary);
    padding: 10px 0;
    color: var(--petsolive-light);
}

    .footer-bottom p {
        font-size: 0.9rem;
        color: var(--petsolive-bg);
    }

    .footer-bottom .social-links a {
        color: var(--petsolive-bg);
    }

@media (max-width: 768px) {
    .footer .row {
        text-align: center;
    }

    .footer .col-md-4 {
        margin-bottom: 20px;
    }

    .footer .social-links {
        text-align: center;
        margin-top: 10px;
    }
}
